html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: white;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.site-header {
    margin-bottom: 105px;
}
.navigation {
    display: flex;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
}

.site-logo {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
}

.site-logo span {
    font-size: 22px;
    text-transform: uppercase;
    color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    width: 500px;
    list-style: none;
}

.menu-list li {
    font-size: 14px;
}

.menu-list a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 200ms linear;
}

.menu-list a:after {
    content: " ";
    display: block;
    width: 100%;
    margin-top: 10px;
    border-bottom: 3px solid rgba(255, 144, 138, 1);
    opacity: 0;
    transition: all 200ms linear;
}

.menu-list a:hover,
.menu-list a:focus,
.menu-list a:hover::after {
    color: rgba(255, 144, 138, 1);
    opacity: 1;
}

/* Main */

/*  Section  "service"*/

.service {
    padding-bottom: 96px;
}

.service-h2 {
    font-size: 24px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin-bottom: 25px;
}

.service-h3 {
    font-size: 30px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 110px;
}

.service-h3::after {
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
    margin-top: 40px;
}

.service-items {
    display: flex;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-items li {
    display: flex;
    position: relative;
    width: 380px;
    margin-bottom: 100px;
    padding-left: 80px;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-between;
}

.service-items li:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.service-item-h2 {
    font-size: 14px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    /* width: 300px; */
    padding-bottom: 18px;
}

.service-item-p {
    /* width: 300px; */
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    /* margin-left: 80px; */
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.service-item-a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    color: #95e1d3;
    background-repeat: no-repeat;
    background-position: 20px 0;
}

.alarm {
    background-image: url(../img/icons/icon-alarm.png);
}

.line-graph {
    background-image: url(../img/icons/icon-line-graph.png);
}

.computer {
    background-image: url(../img/icons/icon-computer.png);
}

.book {
    background-image: url(../img/icons/icon-book.png);
}

.home {
    background-image: url(../img/icons/icon-home.png);
}

.digital {
    background-image: url(../img/icons/icon-gigital.png);
}


/* Section our team */


.our-team {
    font-size: 0;
}

.team-h2 {
    font-size: 24px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin-bottom: 25px;
}

.team-h3 {
    font-size: 30px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.team-h3::after {
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
    margin-top: 40px;
}

.team-p {
    display: block;
    width: 960px;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 85px;
}

.team {
    display: flex;
    justify-content: space-between;
    font-size: 0;
    padding-bottom: 85px;
}

.team-people {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 200ms linear;
}

.team-img {
    position: relative;
    transition: all 200ms linear;
}

.team-people:hover .team-img {
    transform: translate(-10px, -10px);
}

.team-name {
    font-size: 14px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

.team-job {
    font-size: 15px;
    margin-top: 20px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    ;
    text-align: center;
}

.enjoy-css {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 470px;
    transition: all 200ms linear;
    background: linear-gradient(72deg, rgba(243, 213, 133, .9), rgba(255, 133, 136, .9));
    background-position: 50% 50%;
    box-shadow: 10px 10px 0px 0px rgba(122, 226, 210, 1);
}

.enjoy-css:hover {
    opacity: 1;
    transform: translate(-10px, -10px);
}

.social-icons {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 224px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-icons a {
    display: block;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
    background-color: rgba(255, 225, 135, 1);
    transition: all 200ms linear;
}

.social-icons a:hover {
    background-color: rgba(122, 226, 210, 1);
}

.social-icons-fb {
    background-image: url(../img/icons/facebook.png);
}

.social-icons-twitter {
    background-image: url(../img/icons/twitter.png);
}

.social-icons-pinterest {
    background-image: url(../img/icons/pinterest.png);
}

.social-icons-instagram {
    background-image: url(../img/icons/instagram.png);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    border-top: 1px solid #e5e5e5;
    font-size: 0;
    font-weight: normal;
    text-decoration: none;
}

.contacts {
    display: flex;
    width: 320px;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
}

.footer a,
p {
    display: inline-block;
    font-size: 14px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: all 200ms linear;
}

.footer a:hover {
    color: rgb(246, 189, 191);
}

.subscribe {
    display: flex;
}

.subscribe-input {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 230px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    font-size: 15px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}

.subcribe-btn {
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
    margin: 0;
    padding: 0;
}
