html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #222222;
}

.container {
    width: 940px;
    margin: 0 auto;

}

/* HEADER */

.site-header, main {
    background-color: #fff;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
    margin: 0 auto;
    padding: 0;
}

.site-logo {
    display: block;
    font-size: 26px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fed136;
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
}

.menu {
    display: flex;
    width: 485px;
    justify-content: space-between;
    align-items: flex-end;
}

.menu a {
    display: block;
    font-size: 14px;
    color: #222222;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    transition: all 300ms linear;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
}

.menu a:hover {
    color: #fed136;
}


/* SECTION SERVICE */

.service {
    margin: 0 auto;
    padding: 125px 0;
}

.service-h2 {
    font-size: 40px;
    letter-spacing: -1px;
    color: #222222;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.service-p {
    font-size: 16px;
    color: #777777;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    text-transform: none;
    margin-bottom: 80px;
}

.service-list {
    display: flex;
    justify-content: space-between;
}

.service-list li {
    display: flex;
    width: 290px;
    flex-direction: column;
    text-align: center;
}

.service-item h3 {
    font-size: 18px;
    color: #222222;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    margin-bottom: 18px;
}

.service-item p {
    width: 280px;
    font-size: 12px;
    color: #777777;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    text-transform: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.service-item:before {
    content: "";
    display: inline-block;
    width: 66px;
    height: 66px;
    border-radius: 100%;
    background-color: #ffffff;
    border: 3px solid #fed136;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 28px;
}

.basket::before {
    background-image: url(../img/icons/icon-basket.png);
}

.laptop::before {
    background-image: url(../img/icons/icon-laptop.png);
}

.lock::before {
    background-image: url(../img/icons/icon-locked.png);
}

/* SECTION CONTACT */

.contact {
    height: 675px;
    background-color: #222222;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    padding: 110px 0;
}

.contact-title {
    font-size: 40px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.contact-sub-title {
    font-size: 16px;
    color: #777777;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    text-transform: none;
    margin-bottom: 75px;
}

.message-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-field input {
    display: inline-block;
    margin-bottom: 30px;
    padding: 0;
    outline: 0;
    font-size: 14px;
    text-indent: 20px;
    text-transform: uppercase;
    color: #bbbbbb;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    width: 455px;
    height: 50px;
    border-radius: 2px;
}

.contact-field input:last-child {
    margin-bottom: 0;
}

.client-form input[type="email"]:valid,
.client-form input[type="text"]:valid,
textarea:valid {
    outline: green solid 2px;
}

.client-form input[type="email"]:invalid,
.client-form input[type="text"]:invalid,
textarea:invalid {
    outline: red solid 2px;
}

textarea {
    display: block;
    border: none;
    width: 455px;
    height: 210px;
    margin: 0;
    padding: 0;
    text-indent: 20px;
    padding-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #bbbbbb;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    resize: none;
}

.contact-btn {
    display: block;
    border: none;
    width: 240px;
    height: 65px;
    border-radius: 3px;
    background-color: inherit;
    font-size: 18px;
    color: #ffffff;
    background-color: #fed136;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
    cursor: pointer;
}

button:hover {
    background-color: #abd228;
}
