html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #222222;
}

/* kaushan-script-regular - latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
        url('../fonts/kaushan-script-v6-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/kaushan-script-v6-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-100 - latin_cyrillic */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-slab-v7-latin_cyrillic-100.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'),
        url('../fonts/roboto-slab-v7-latin_cyrillic-100.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-slab-v7-latin_cyrillic-100.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-slab-v7-latin_cyrillic-100.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-slab-v7-latin_cyrillic-100.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-slab-v7-latin_cyrillic-100.svg#RobotoSlab') format('svg');
    /* Legacy iOS */
}

/* roboto-slab-300 - latin_cyrillic */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-slab-v7-latin_cyrillic-300.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Slab Light'), local('RobotoSlab-Light'),
        url('../fonts/roboto-slab-v7-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-slab-v7-latin_cyrillic-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-slab-v7-latin_cyrillic-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-slab-v7-latin_cyrillic-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-slab-v7-latin_cyrillic-300.svg#RobotoSlab') format('svg');
    /* Legacy iOS */
}

/* roboto-slab-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v7-latin_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
        url('../fonts/roboto-slab-v7-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-slab-v7-latin_cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-slab-v7-latin_cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-slab-v7-latin_cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-slab-v7-latin_cyrillic-regular.svg#RobotoSlab') format('svg');
    /* Legacy iOS */
}

/* roboto-slab-700 - latin_cyrillic */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-slab-v7-latin_cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
        url('../fonts/roboto-slab-v7-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-slab-v7-latin_cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-slab-v7-latin_cyrillic-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-slab-v7-latin_cyrillic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-slab-v7-latin_cyrillic-700.svg#RobotoSlab') format('svg');
    /* Legacy iOS */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/montserrat-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v12-latin_cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v12-latin_cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v12-latin_cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v12-latin_cyrillic-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin_cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Black'), local('Montserrat-Black'),
        url('../fonts/montserrat-v12-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v12-latin_cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v12-latin_cyrillic-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v12-latin_cyrillic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v12-latin_cyrillic-700.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-200italic - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
        url('../fonts/montserrat-v12-latin_cyrillic-200italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v12-latin_cyrillic-200italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/montserrat-v12-latin_cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v12-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-italic - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
        url('../fonts/montserrat-v12-latin_cyrillic-italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v12-latin_cyrillic-italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700italic - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
        url('../fonts/montserrat-v12-latin_cyrillic-700italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v12-latin_cyrillic-700italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-800italic - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
        url('../fonts/montserrat-v12-latin_cyrillic-800italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v12-latin_cyrillic-800italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v12-latin_cyrillic-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v12-latin_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-800 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('../fonts/montserrat-v12-latin_cyrillic-800.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v12-latin_cyrillic-800.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.container {
    width: 940px;
    margin: 0 auto;

}

/* HEADER */

.site-header, main {
    background-color: #fff;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
    margin: 0 auto;
    padding: 0;
}

.site-logo {
    display: block;
    font-size: 26px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fed136;
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
}

.menu {
    display: flex;
    width: 485px;
    justify-content: space-between;
    align-items: flex-end;
}

.menu a {
    display: block;
    font-size: 14px;
    color: #222222;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    transition: all 300ms linear;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
}

.menu a:hover {
    color: #fed136;
}


/* SECTION SERVICE */

.service {
    margin: 0 auto;
    padding: 125px 0;
}

.service-h2 {
    font-size: 40px;
    letter-spacing: -1px;
    color: #222222;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.service-p {
    font-size: 16px;
    color: #777777;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    text-transform: none;
    margin-bottom: 80px;
}

.service-list {
    display: flex;
    justify-content: space-between;
}

.service-list li {
    display: flex;
    width: 290px;
    flex-direction: column;
    text-align: center;
}

.service-item h3 {
    font-size: 18px;
    color: #222222;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    margin-bottom: 18px;
}

.service-item p {
    width: 280px;
    font-size: 12px;
    color: #777777;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    text-transform: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.service-item:before {
    content: "";
    display: inline-block;
    width: 66px;
    height: 66px;
    border-radius: 100%;
    background-color: #ffffff;
    border: 3px solid #fed136;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 28px;
}

.basket::before {
    background-image: url(../img/icons/icon-basket.png);
}

.laptop::before {
    background-image: url(../img/icons/icon-laptop.png);
}

.lock::before {
    background-image: url(../img/icons/icon-locked.png);
}

/* SECTION CONTACT */

.contact {
    height: 675px;
    background-color: #222222;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    padding: 110px 0;
}

.contact-title {
    font-size: 40px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.contact-sub-title {
    font-size: 16px;
    color: #777777;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    text-transform: none;
    margin-bottom: 75px;
}

.message-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-field input {
    display: inline-block;
    margin-bottom: 30px;
    padding: 0;
    outline: 0;
    font-size: 14px;
    text-indent: 20px;
    text-transform: uppercase;
    color: #bbbbbb;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    width: 455px;
    height: 50px;
    border-radius: 2px;
}

.contact-field input:last-child {
    margin-bottom: 0;
}

.client-form input[type="email"]:focus:valid,
.client-form input[type="text"]:focus:valid {
    outline: green solid 1px;
}

.client-form input[type="email"]:focus:invalid,
.client-form input[type="text"]:focus:invalid {
    outline: red solid 1px;
}

textarea {
    display: block;
    border: none;
    width: 455px;
    height: 210px;
    margin: 0;
    padding: 0;
    text-indent: 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: #bbbbbb;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    resize: none;
}

.contact-btn {
    display: block;
    border: none;
    width: 240px;
    height: 65px;
    border-radius: 3px;
    background-color: inherit;
    font-size: 18px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
    cursor: pointer;
}

button:hover {
    background-color: #fed136;
}
