html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  padding: 0 10px;
  margin: auto;
}

/* HEADER */

.page {
  min-height: 540px;
  background-image: url(../img/body.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.navigation {
  padding-top: 20px;
}

.site-header {
  max-height: 190px;
}

.navigation_login {
  margin: 0 auto;
  width: 200px;
  margin-bottom: 115px;
}

.navigation_item {
  display: inline-block;
  width: 90px;
  list-style: none;
}

.navigation_link {
  display: block;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 18px;
  height: 36px;
  border: 2px solid transparent;
}

.navigation_link:hover {
  border: 2px solid #ffffff;
  background-color: rgba(26, 25, 21, 0);
}

.navigation_logo {
  display: block;
  font-size: 20px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  margin: 0 auto;
}

.page_title {
  font-size: 30px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
  line-height: 30px;
  margin-bottom: 20px;
}

.page_subtitle {
  font-size: 18px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 300;
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 25px;
}

.page_link {
  display: block;
  width: 280px;
  line-height: 40px;
  border-radius: 20px;
  background-color: #ff4e50;
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.page_link:hover {
  color: #ff4e50;
  background-color: #ffffff;
}

/* MAIN */

/* SECTION PARTNERS */

.partners-promo {
  padding-top: 70px;
}

.partners-promo_list {
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}

.partners-promo_title {
  font-size: 22px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.partners-promo_items {
  width: 220px;
  height: auto;
  padding: 0 5px;
  margin: 0 auto;
}

.partners-promo_link {
  margin: 0 auto;
}

.partners-promo_patner-name,
.partners-promo_patner-about {
  text-align: center;
}

.partners-promo_link {
  position: relative;
  width: 120px;
  height: 120px;
}

.partners-promo_link img {
  border-radius: 100%;
}

.partners-promo_icon {
  content: " ";
  position: absolute;
  display: block;
  min-width: 32px;
  min-height: 32px;
  border-radius: 100%;
  border: 4px solid #ffffff;
  bottom: 0;
  right: 0;
}

.partners-promo_social {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tv {
  background-color: #ff4e50;
}

.chemic {
  background-color: #ffa507;
}

.cofee {
  background-color: #1cd7ad;
}

.telegram {
  background-color: #4e73db;
}

.partners-promo_patner-name {
  height: 18px;
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 700;
  padding-top: 25px;
  margin-bottom: 20px;
}

.partners-promo_patner-about {
  font-size: 14px;
  color: #666666;
  font-family: "Roboto";
  font-weight: 300;
  word-wrap: break-word;
}

.partners-promo_btn {
  display: block;
  border: none;
  width: 280px;
  height: 40px;
  border-radius: 20px;
  background-color: #ff4e50;
  border: 2px solid #ff4e50;
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  cursor: pointer
}

.partners-promo_btn:hover {
  color: #ff4e50;
  background-color: #ffffff;
}

/* MEDIA */

@media (min-width: 320px) and (max-width:767px) {
  .partners-promo_tems:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 660px;
  }

  .page {
    height: 700px;
  }

  .navigation {
    display: flex;
    padding-top: 35px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
  }

  .navigation_login {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .navigation_logo {
    margin: 0;
  }

  .page_title {
    width: 500px;
    font-size: 52px;
    line-height: 52px;
    margin: auto;
    margin-bottom: 45px;
  }

  .page_subtitle {
    font-size: 24px;
    margin-bottom: 35px;
  }

  .page_link {
    width: 255px;
  }

  /* MAIN */

  /* SECTION PARTNERS */

  .partners-promo {
    display: block;
    box-sizing: border-box;
    padding-top: 130px;
  }

  .partners-promo_title {
    margin-bottom: 40px;
  }

  .partners-promo_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }

  .partners-promo_items {
    width: 240px;
    height: auto;
  }

  .partners-promo_btn {
    width: 192px;
  }
}

@media (min-width: 768px) and (max-width:958) {
  .partners-promo_items:not(:nth-last-child(-n + 2)) {
    margin-bottom: 60px;
  }
}

@media (min-width:958px) {
  .container {
    width: 940px;
  }

  .navigation {
    display: flex;
    padding-top: 35px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
  }

  .navigation_login {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .navigation_logo {
    margin: 0;
  }

  /* MAIN */

  /* SECTION PARTNERS */

  .partners-promo_promo {
    display: block;
    box-sizing: border-box;
    padding-top: 70px;
  }

  .partners-promo_title {
    margin-bottom: 35px;
  }

  .partners-promo_list {
    margin-bottom: 35px;
  }

  .partners-promo_items {
    width: 220px;
    margin-bottom: 0;
    padding: 0;
  }

  .partners-promo_btn {
    width: 192px;
    margin-bottom: 75px;
  }
}
