html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: white;
    font-family: 'Roboto', sans-serif;
    font-family: "Open Sans", sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.navigation {
    padding: 40px 0;
    font-family: "Open Sans", sans-serif;
}

.site-logo {
    display: block;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    float: left;
}

.site-logo::first-letter {
    color: #1abc9c;
}

.site-logo span {
    font-weight: bold;
}

.menu-list {
    list-style: none;
    float: right;
}

.menu-list li {
    font-size: 14px;
    float: left;
}

.menu-list li:not(:last-child) {
    margin-right: 30px;
}

.menu-list a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 5px;
    color: black;
    font-weight: bold;
}

.menu-list a:hover,
.menu-list a:focus {
    color: #1abc9c;
}

.banner {
    position: relative;
    min-height: 600px;
    margin: 0 auto;
    background-image: url(../img/slider-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}

.slider-button {
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.button {
    position: absolute;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
    cursor: pointer;
}

.button:hover {
    background-color: #4ec6ab;
}

.right {
    right: 0;
    margin: 0 auto;
    background-image: url(../img/lbutton.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.left {
    left: 0;
    margin: 0 auto;
    background-image: url(../img/rbutton.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.slider-text {
    position: absolute;
    top: 40%;
    left: 17%;
    font-weight: 800;
    letter-spacing: -1px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    z-index: 1;
}

.h-2 {
    font-size: 48px;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
}

.p-text {
    font-size: 24px;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}

.collection {
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: #e9f0fd;
}


.title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #515151;
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

.title:after {
    content: " ";
    display: block;
    margin: 0 auto;
    width: 165px;
    border: 3px solid #1abc9c;
    margin-top: 30px;
}

.product-list li {
    display: inline;
    list-style: none;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.product-list-item {
    max-width: 255px;
    height: auto;
    font-size: 0;
    float: left;
    position: relative;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.product-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.product-list-item:nth-last-child(-n+4) {
    margin-bottom: 0px;
}

.product-name {
    display: inline-block;
    width: 200px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #ffffff;
    background-color: #323232;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    margin: 0;
    padding-left: 16px;
}

.product-price {
    display: inline-block;
    width: 55px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    background-color: #323232;
    opacity: 0.5;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

.product-list-item:hover p {
    background: #1abc9c;
}


.modal {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 282px;
    border: 10px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.549);
    cursor: pointer;
}

.product-list-item:hover .modal {
    opacity: 1;
}

.product-list-item:hover .modal-buttons {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 180px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-buttons li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 7px;
    border: 1px solid white;
}

.modal-buttons li:nth-child(3) {
    margin-right: 0px;
}

.modal-buttons a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-buttons a:hover {
    background-color: rgb(26, 188, 156);
    border: 1px solid rgb(26, 188, 156);
}

.modal-buttons1 {
    background-image: url(../img/heart.png);
}

.modal-buttons2 {
    background-image: url(../img/arrows.png);
}

.modal-buttons3 {
    background-image: url(../img/clock.png);
}

.modal-buttons .modal-buttons4 {
    position: relative;
    display: block;
    width: 174px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    padding-left: 50px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.modal-buttons4::before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0px;
    background-image: url(../img/bassket.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
}

.footer {
    height: 90px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 90px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    background-color: #323232;
    text-decoration: none;
}

.footer a,
p {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #1abc9c;
}