

.footer {
  display: flex;
  justify-content: space-between;
  align-items: $tac;
  height: 65px;
  border-top: 1px solid #e5e5e5;
  font-size: 0;
  font-weight: normal;
  text-decoration: none;
}

.footer__contacts {
  display: flex;
  width: 320px;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: $tac;
  text-align: left;
}

.footer__contacts a,
p {
  display: inline-block;
  font-size: $fz;
  color: $clrd;
  font-family: $ffm;
  text-decoration: none;
  transition: $trn;
}

.footer__contacts a:hover {
  color: $clrp;
}

.footer__subscribe {
  display: flex;
}

.footer__subscribe--input {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 230px;
  height: 40px;
  background-color: $clrw;
  border: 1px solid #e7e7e7;
  font-size: $fz+1px;
  line-height: 24px;
  color: rgba($clrd, 0.3);
  font-family: $ffr;
  font-weight: 300;
  font-style: italic;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  padding-left: 10px;
}

.footer__subcribe--btn {
  width: 150px;
  height: 40px;
  background-color: $clrb;
  font-size: $fz;
  color: $clrw;
  font-family: $ffm;
  font-weight: $fw;
  text-align: $tac;
  text-transform: uppercase;
  border: none;
  margin: 0;
  padding: 0;
}
