.site-header {
  position: relative;
  min-height: 1000px;
  z-index: 10;
}

.site-header__title  {
  font-size: $fz+58px;
  color: $clrw;
  font-family: $ffk;
  font-weight: 400;
  text-align: $tac;
  margin-bottom: 60px;
}

.site-header__subtitle {
  display: block;
  width: 820px;
  margin: auto;
  font-size: $fz*10+10px;
  line-height: 140px;
  text-transform: uppercase;
  color: $clrw;
  font-family: $ffm;
  font-weight:$fw;
  text-align: $tac;
  margin-bottom: 130px;
}

.site-header__btn {
  display: block;
  margin: auto;
  font-size: $fz;
  color: $clrw;
  font-family: $ffm;
  font-weight: $fw;
  text-align: $tac;
  text-transform: uppercase;
  width: 160px;
  height: 40px;
  background-color: rgba($clrd, 0);
  border: 3px solid $clrw;
}

