.navigation {
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  display: block;
  font-size: $fz+2px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: $fw;
  color: $clrw;
  font-family: $ffm;

  & span {
  font-size: $fz+8px;
  text-transform: uppercase;
  color: $clrw;
  font-family: 'Montserrat', sans-serif;
  font-family: $ffm;
}
}

.navigation__li {
  font-size: $fz;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  width: 610px;
  list-style: none;
}

.navigation__list a {
    text-decoration: none;
    text-transform: uppercase;
    color: $clrw;
    font-family: $ffm;
    font-weight: 400;
    cursor: pointer;
    transition: $trn;

&:after {
    content: " ";
    display: block;
    width: 100%;
    margin-top: 10px;
    border-bottom: 3px solid $clrg;
    opacity: 0;
    transition: $trn;
  }


  &:hover,
  &:focus,
  &:hover::after {
    color: $clrg;
    opacity: 1;
  }
}

.navigation__icon {
  fill: $clrw;

  &:hover {
  fill: $clrg;
}
}
