.our-team__title {
font-size: $fz+10px;
color: $clrd;
font-family: $ffk;
text-align: center;
margin-bottom: 25px;
}

.our-team__subtitle {
font-size: $fz+16px;
color: $clrd;
font-family: $ffm;
font-weight: bold;
 text-align: $tac;
text-transform: uppercase;
margin-bottom: 50px;


&::after {
content: " ";
display: block;
width: 60px;
height: 3px;
background-color: $clrp;
margin: 0 auto;
 margin-top: 40px;
}
}

.our-team__text {
width: 960px;
font-size: $fz+1px;
line-height: 24px;
color: #999999;
font-family: $ffr;
text-align: $tac;
margin: 0 auto;
margin-bottom: 85px;
}

