$ffk: 'Kaushan Script', cursive;
$ffm: 'Montserrat', sans-serif;
$ffr: 'Roboto', sans-serif;
$fz: 14px;
$fw: 700;
$clrw: #ffffff;
$clrg: #fce38a;
$clrd: #333333;
$clrp: #f38181;
$clrb: #95e1d3;
$clrs: #e7e7e7;
$trn: all 200ms linear;
$tac: center;
