html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: white;
    font-family: 'Roboto', sans-serif;
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 1110px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.navigation {
    padding: 75px 0;
    font-size: 0;
    font-family: "Open Sans", sans-serif;
}

.site-logo {
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    float: left;
}

.site-logo::first-letter {
    color: #1abc9c;
}

.site-logo span {
    font-weight: bold;
}

.menu-list {
    list-style: none;
    float: right;
}

.menu-list li {
    font-size: 14px;
    float: left;
    padding-top: 5px;
}

.menu-list li:not(:last-child) {
    margin-right: 30px;
}

.menu-list a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 5px;
    color: black;
    font-weight: bold;
}

.menu-list a:hover,
.menu-list a:focus {
    color: blue;
}

.sections {
    display: inline-block;
    font-size: 0;
    height: auto;
    padding-bottom: 100px;
}

.product-list {
    list-style: none;
    font-size: 0;
    padding: 0;
}

.title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #515151;
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
    font-family: "Roboto";
}

.title:after {
    content: " ";
    display: block;
    margin: 0 auto;
    width: 165px;
    border: 3px solid #1abc9c;
    margin-top: 30px;
}

.product-list-item {
    max-width: 255px;
    height: auto;
    margin-bottom: 30px;
    font-size: 0;
    float: left;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.product-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.product-list-item:nth-last-child(-n+4) {
    margin-bottom: 0px;
}

.product-name {
    display: inline-block;
    width: 200px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #ffffff;
    background-color: #323232;
    font-family: "Roboto";
    font-weight: 800;
    margin: 0;
    padding-left: 16px;
}

.product-price {
    display: inline-block;
    width: 55px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    background-color: gray;
    font-family: "Roboto";
    font-weight: 800;
    text-align: center;
    margin: 0;
}

.product-img:hover p {
    background: #1abc9c;
}

.title2 {
    font-size: 48px;
    letter-spacing: -1px;
    color: #515151;
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
    font-family: "Roboto";
}

.title2:after {
    content: " ";
    display: block;
    margin: 0 auto;
    width: 165px;
    border: 2px solid #1abc9c;
    margin-top: 30px;
}

.last-news {
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.last-news-item {
    float: left;
    max-width: 350px;
    height: auto;
}

.last-news-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

/* .last-news li:not(:last-child) {
    margin-right: 30px;
} */

.news-title {
    font-size: 16px;
    line-height: 17px;
    word-break: break-all;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 45px;
}

.news-title::after {
    content: "";
    display: block;
    width: 165px;
    border: 2px solid #1abc9c;
    margin-top: 15px;
}

.news-img {
    margin-bottom: 30px;
    font-family: "Open Sans";
}

.news-text {
    font-size: 14px;
    word-break: break-all;
    text-align: justify;
    vertical-align: 15px;
    line-height: 1.3rem;
    margin-bottom: 30px;
}

.read-more {
    float: left;
    border: transparent;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 0 45px;
    color: black;
    color: white;
    background: #1abc9c;
    border-radius: 5px;
}

.read-more:hover,
.read-more:focus {
    color: black;
    background: yellowgreen;
}
