.service__item {
display: flex;
height: auto;
justify-content: space-between;
flex-wrap: wrap;
}

.service__items {
display: flex;
position: relative;
flex-wrap: wrap;
width: 380px;
margin-bottom: 100px;


&::before{
content: " ";
display: inline-block;
position: absolute;
left: 25px;
top: 0;
 width: 32px;
height: 32px;
color: $clrb;
background-repeat: no-repeat;
background-position: center;
}
}

.service__items li:nth-last-child(-n+3) {
margin-bottom: 0;
}

.service__items--title {
font-size: $fz;
color: $clrd;
font-family: $ffm;
text-transform: uppercase;
padding-bottom: 18px;
}

.service__items--about {
font-size: $fz+1px;
line-height: 24px;
color: #999999;
font-family: $ffr;
padding-left: 80px;
}

.service__icon {
fill: $clrb;
margin: 0 25px;
}
