html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: white;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.wrapper {
    position: relative;
    height: 1000px;
    background-image: url(../img/partners/baner.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    /* margin-bottom: 50px; */
}

.wrapper::after{
    content: " ";
    position: absolute;
    top: 0;
    background: linear-gradient(180deg, rgba(255, 133, 136, .9),rgba(243, 213, 133, .9));
    height: 100%;
    width: 100%;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .wrapper {
      background-image: url(../img/partners/baner@2x.jpg);
    }
}

.site-header {
    position: relative;
    height: 1000px;
    z-index: 10;
}

.navigation {
    display: flex;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 190px;
}

.navigation__logo {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.navigation__logo span {
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 610px;
    list-style: none;
}

.navigation__item {
    font-size: 14px;
}

.navigation__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: all 200ms linear;
}

.navigation__link:after {
    content: " ";
    display: block;
    width: 100%;
    margin-top: 10px;
    border-bottom: 3px solid #fce38a;;
    opacity: 0;
    transition: all 200ms linear;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link:hover::after {
    color: #fce38a;;
    opacity: 1;
}

.navigation__link--icon {
    fill: #ffffff;
}

.navigation__link--icon:hover {
    fill: #fce38a;
}

.site-header__title {
    font-size: 72px;
    color: #ffffff;
    font-family: "Kaushan Script";
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
}

.site-header__subtitle {
    display: block;
    width: 820px;
    margin: auto;
    font-size: 150px;
    line-height: 140px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    margin-bottom: 130px;
}

.site-header__btn {
    display: block;
    margin: auto;
    font-size: 14px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 40px;
    background-color: rgba(0,0,0,0);
    border: 3px solid #ffffff;
}

/* Main */

 /* Section  "service" */

.service {
    padding-bottom: 96px;
}

.service__title {
    font-size: 24px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin-bottom: 25px;
}

.service__subtitle {
    font-size: 30px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 110px;
}

.service__subtitle::after {
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
    margin-top: 40px;
}

.service__item {
    display: flex;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service__items {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 380px;
    margin-bottom: 100px;

}
.service__items::before{
    content: " ";
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 0;
    width: 32px;
    height: 32px;
    color: #95e1d3;
    background-repeat: no-repeat;
    background-position: center;
}

.service__items:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.service__items--title {
    font-size: 14px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.service__items--about {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    padding-left: 80px;
}

.service__icon {
    fill: #95e1d3;
    margin: 0 25px;
}


/* Section our team */


.our-team__title {
    font-size: 24px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin-bottom: 25px;
}

.our-team__subtitle {
    font-size: 30px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.our-team__subtitle::after {
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
    margin-top: 40px;
}

.our-team__text {
    display: block;
    width: 960px;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 85px;
}

.our-team__list {
    display: flex;
    justify-content: space-between;
    font-size: 0;
    padding-bottom: 85px;
}

.our-team__people {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 200ms linear;
}

.our-team__img {
    position: relative;
    transition: all 200ms linear;
}

.our-team__people:hover .our-team__img {
    transform: translate(-10px, -10px);
}

.our-team__name {
    font-size: 14px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

.our-team__job {
    font-size: 15px;
    margin-top: 20px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.our-team__link {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 470px;
    transition: all 200ms linear;
    background: linear-gradient(72deg, rgba(243, 213, 133, .9), rgba(255, 133, 136, .9));
    background-position: 50% 50%;
    box-shadow: 10px 10px 0px 0px rgba(122, 226, 210, 1);
}

.our-team__link:hover {
    opacity: 1;
    transform: translate(-10px, -10px);
}

.our-team__social {
    display: flex;
    justify-content: space-between;
    width: 224px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.our-team__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    text-decoration: none;
    background-color: #fce38a;
    transition: all 200ms linear;
}

.our-team__svg {
    display: block;
    width: 32px;
    height: 32px;
    fill: #f38181;
}

.our-team__social-link:hover .our-team__svg {
    fill: #fff;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    border-top: 1px solid #e5e5e5;
    font-size: 0;
    font-weight: normal;
    text-decoration: none;
}

.footer__contacts {
    display: flex;
    width: 320px;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
}

.footer__contacts a,
p {
    display: inline-block;
    font-size: 14px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: all 200ms linear;
}

.footer__contacts a:hover {
    color: rgb(246, 189, 191);
}

.footer__subscribe {
    display: flex;
}

.footer__subscribe--input {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 230px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    font-size: 15px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}

.footer__subcribe--btn {
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
    margin: 0;
    padding: 0;
}
